In [6]:
#一、 创建对象
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
"""1、可以通过传递一个list对象来创建一个Series，pandas 会默认创建整型索引："""
a = pd.Series([1, 2 ,3 ,4, np.nan, 5])
print(a)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
dtype: float64

In [15]:
"""2、通过传递一个 numpyarray，时间索引以及列标签来创建一个DataFrame："""
dates = pd.date_range('20190122', periods = 10)
print(dates)

DatetimeIndex(['2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29',
               '2019-01-30', '2019-01-31'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(np.random.randn(10, 4), index = dates, columns = list('ABCD')) #DataFrame数据框架
print(df)

                   A         B         C         D
2019-01-22 -0.619592  0.014810 -1.169284 -0.449416
2019-01-23 -0.440159 -0.153671 -0.834348 -1.202017
2019-01-24  0.727136  0.656800  1.699720  2.271579
2019-01-25 -0.158694  0.032695  0.375962 -0.259691
2019-01-26 -1.127986  1.224809  0.385031 -0.716630
2019-01-27 -0.431793 -0.501032  0.470961  1.092535
2019-01-28  1.751580 -0.666542  0.361954  1.142190
2019-01-29  0.866299  0.742232 -0.856270  0.236238
2019-01-30  1.978532 -0.071853  0.128542 -0.370246
2019-01-31  0.332960  1.467517 -0.989058  0.835329

In [22]:
"""3、通过传递一个能够被转换成类似序列结构的字典对象来创建一个DataFrame："""
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20190122'),
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float64'),
                    'D' : np.array([3] * 4, dtype = 'int64'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'
                   })
print(df2)

     A          B    C  D      E    F
0  1.0 2019-01-22  1.0  3   test  foo
1  1.0 2019-01-22  1.0  3  train  foo
2  1.0 2019-01-22  1.0  3   test  foo
3  1.0 2019-01-22  1.0  3  train  foo

In [25]:
"""4、查看不同列的数据类型："""
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int64
E          category
F            object
dtype: object

In [28]:
"""5、如果你使用的是 IPython，使用 Tab 自动补全功能会自动识别所有的属性以及自定义的列，下图中是所有能够被自动识别的属性的一个子集："""
#df2.<TAB>

'5、如果你使用的是 IPython，使用 Tab 自动补全功能会自动识别所有的属性以及自定义的列，下图中是所有能够被自动识别的属性的一个子集：'

In [29]:
#二、 查看数据

In [30]:
"""1、 查看DataFrame中头部和尾部的行："""
df.head()

                   A         B         C         D
2019-01-22 -0.619592  0.014810 -1.169284 -0.449416
2019-01-23 -0.440159 -0.153671 -0.834348 -1.202017
2019-01-24  0.727136  0.656800  1.699720  2.271579
2019-01-25 -0.158694  0.032695  0.375962 -0.259691
2019-01-26 -1.127986  1.224809  0.385031 -0.716630

In [31]:
df.tail(3)

                   A         B         C         D
2019-01-29  0.866299  0.742232 -0.856270  0.236238
2019-01-30  1.978532 -0.071853  0.128542 -0.370246
2019-01-31  0.332960  1.467517 -0.989058  0.835329

In [34]:
"""2、 显示索引、列和底层的 numpy 数据："""
df.columns #columns ->列

Index(['A', 'B', 'C', 'D'], dtype='object')

In [36]:
df.values

array([[-0.61959202,  0.0148104 , -1.16928387, -0.44941631],
       [-0.44015854, -0.15367059, -0.83434754, -1.2020174 ],
       [ 0.72713552,  0.65680035,  1.69971958,  2.27157941],
       [-0.15869369,  0.03269478,  0.37596227, -0.25969077],
       [-1.12798613,  1.22480893,  0.38503058, -0.71663006],
       [-0.43179349, -0.50103207,  0.47096077,  1.09253461],
       [ 1.75157951, -0.66654226,  0.36195443,  1.14218966],
       [ 0.86629897,  0.74223228, -0.85626977,  0.23623811],
       [ 1.97853172, -0.07185322,  0.12854184, -0.37024601],
       [ 0.33295969,  1.46751675, -0.98905765,  0.83532863]])

In [37]:
"""3、 describe()函数对于数据的快速统计汇总："""
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.287828   0.274577  -0.042679   0.257987
std     1.033110   0.715504   0.900898   1.059938
min    -1.127986  -0.666542  -1.169284  -1.202017
25%    -0.438067  -0.133216  -0.850789  -0.429624
50%     0.087133   0.023753   0.245248  -0.011726
75%     0.831508   0.720874   0.382764   1.028233
max     1.978532   1.467517   1.699720   2.271579

In [39]:
"""4、 对数据的转置"""
print(df)
print(df.T)

                   A         B         C         D
2019-01-22 -0.619592  0.014810 -1.169284 -0.449416
2019-01-23 -0.440159 -0.153671 -0.834348 -1.202017
2019-01-24  0.727136  0.656800  1.699720  2.271579
2019-01-25 -0.158694  0.032695  0.375962 -0.259691
2019-01-26 -1.127986  1.224809  0.385031 -0.716630
2019-01-27 -0.431793 -0.501032  0.470961  1.092535
2019-01-28  1.751580 -0.666542  0.361954  1.142190
2019-01-29  0.866299  0.742232 -0.856270  0.236238
2019-01-30  1.978532 -0.071853  0.128542 -0.370246
2019-01-31  0.332960  1.467517 -0.989058  0.835329
   2019-01-22  2019-01-23  2019-01-24  2019-01-25  2019-01-26  2019-01-27  \
A   -0.619592   -0.440159    0.727136   -0.158694   -1.127986   -0.431793
B    0.014810   -0.153671    0.656800    0.032695    1.224809   -0.501032
C   -1.169284   -0.834348    1.699720    0.375962    0.385031    0.470961
D   -0.449416   -1.202017    2.271579   -0.259691   -0.716630    1.092535

   2019-01-28  2019-01-29  2019-01-30  2019-01-31
A    1.751580    0.866299    1.978532    0.332960
B   -0.666542    0.742232   -0.071853    1.467517
C    0.361954   -0.856270    0.128542   -0.989058
D    1.142190    0.236238   -0.370246    0.835329

In [40]:
"""5、 按轴进行排序"""
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2019-01-22 -0.449416 -1.169284  0.014810 -0.619592
2019-01-23 -1.202017 -0.834348 -0.153671 -0.440159
2019-01-24  2.271579  1.699720  0.656800  0.727136
2019-01-25 -0.259691  0.375962  0.032695 -0.158694
2019-01-26 -0.716630  0.385031  1.224809 -1.127986
2019-01-27  1.092535  0.470961 -0.501032 -0.431793
2019-01-28  1.142190  0.361954 -0.666542  1.751580
2019-01-29  0.236238 -0.856270  0.742232  0.866299
2019-01-30 -0.370246  0.128542 -0.071853  1.978532
2019-01-31  0.835329 -0.989058  1.467517  0.332960

In [42]:
"""6、 按值进行排序"""
df.sort_values(by = 'B')

                   A         B         C         D
2019-01-28  1.751580 -0.666542  0.361954  1.142190
2019-01-27 -0.431793 -0.501032  0.470961  1.092535
2019-01-23 -0.440159 -0.153671 -0.834348 -1.202017
2019-01-30  1.978532 -0.071853  0.128542 -0.370246
2019-01-22 -0.619592  0.014810 -1.169284 -0.449416
2019-01-25 -0.158694  0.032695  0.375962 -0.259691
2019-01-24  0.727136  0.656800  1.699720  2.271579
2019-01-29  0.866299  0.742232 -0.856270  0.236238
2019-01-26 -1.127986  1.224809  0.385031 -0.716630
2019-01-31  0.332960  1.467517 -0.989058  0.835329

In [44]:
#三、 选择
#获取

In [45]:
"""1、 选择一个单独的列，这将会返回一个Series，等同于df.A："""
df['A']

2019-01-22   -0.619592
2019-01-23   -0.440159
2019-01-24    0.727136
2019-01-25   -0.158694
2019-01-26   -1.127986
2019-01-27   -0.431793
2019-01-28    1.751580
2019-01-29    0.866299
2019-01-30    1.978532
2019-01-31    0.332960
Freq: D, Name: A, dtype: float64

In [46]:
"""2、 通过[]进行选择，这将会对行进行切片"""
df[0:3]

                   A         B         C         D
2019-01-22 -0.619592  0.014810 -1.169284 -0.449416
2019-01-23 -0.440159 -0.153671 -0.834348 -1.202017
2019-01-24  0.727136  0.656800  1.699720  2.271579

In [47]:
df['2019-01-22':'2019-01-29']

                   A         B         C         D
2019-01-22 -0.619592  0.014810 -1.169284 -0.449416
2019-01-23 -0.440159 -0.153671 -0.834348 -1.202017
2019-01-24  0.727136  0.656800  1.699720  2.271579
2019-01-25 -0.158694  0.032695  0.375962 -0.259691
2019-01-26 -1.127986  1.224809  0.385031 -0.716630
2019-01-27 -0.431793 -0.501032  0.470961  1.092535
2019-01-28  1.751580 -0.666542  0.361954  1.142190
2019-01-29  0.866299  0.742232 -0.856270  0.236238

In [48]:
#通过标签选择

In [49]:
"""1、 使用标签来获取一个交叉的区域"""
df.loc[dates[0]]

A   -0.619592
B    0.014810
C   -1.169284
D   -0.449416
Name: 2019-01-22 00:00:00, dtype: float64

In [51]:
"""2、 通过标签来在多个轴上进行选择"""
df.loc[:, ['A','B']]

                   A         B
2019-01-22 -0.619592  0.014810
2019-01-23 -0.440159 -0.153671
2019-01-24  0.727136  0.656800
2019-01-25 -0.158694  0.032695
2019-01-26 -1.127986  1.224809
2019-01-27 -0.431793 -0.501032
2019-01-28  1.751580 -0.666542
2019-01-29  0.866299  0.742232
2019-01-30  1.978532 -0.071853
2019-01-31  0.332960  1.467517

In [52]:
"""3、 标签切片"""
df.loc['2019-01-22':'2019-01-29', ['A', 'B']]

                   A         B
2019-01-22 -0.619592  0.014810
2019-01-23 -0.440159 -0.153671
2019-01-24  0.727136  0.656800
2019-01-25 -0.158694  0.032695
2019-01-26 -1.127986  1.224809
2019-01-27 -0.431793 -0.501032
2019-01-28  1.751580 -0.666542
2019-01-29  0.866299  0.742232

In [53]:
"""4、 对于返回的对象进行维度缩减"""
df.loc['2019-01-22', ['A', 'B']]

A   -0.619592
B    0.014810
Name: 2019-01-22 00:00:00, dtype: float64

In [54]:
"""5、 获取一个标量"""
df.loc[dates[0], ['A']]

A   -0.619592
Name: 2019-01-22 00:00:00, dtype: float64

In [56]:
"""6、 快速访问一个标量（与上一个方法等价）

"""
df.at[dates[0], 'A']

-0.6195920182364392