In [3]:
#一、 创建对象
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
"""1、可以通过传递一个list对象来创建一个Series，pandas 会默认创建整型索引："""
a = pd.Series([1, 2 ,3 ,4, np.nan, 5])
print(a)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
dtype: float64

In [6]:
"""2、通过传递一个 numpyarray，时间索引以及列标签来创建一个DataFrame："""
dates = pd.date_range('20190122', periods = 10)
print(dates)

DatetimeIndex(['2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29',
               '2019-01-30', '2019-01-31'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(10, 4), index = dates, columns = list('ABCD')) #DataFrame数据框架
print(df)

                   A         B         C         D
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751
2019-01-30 -0.619652 -0.260988  1.033797  1.182345
2019-01-31 -0.174840 -0.079134 -0.562533  2.069970

In [8]:
"""3、通过传递一个能够被转换成类似序列结构的字典对象来创建一个DataFrame："""
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20190122'),
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float64'),
                    'D' : np.array([3] * 4, dtype = 'int64'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'
                   })
print(df2)

     A          B    C  D      E    F
0  1.0 2019-01-22  1.0  3   test  foo
1  1.0 2019-01-22  1.0  3  train  foo
2  1.0 2019-01-22  1.0  3   test  foo
3  1.0 2019-01-22  1.0  3  train  foo

In [9]:
"""4、查看不同列的数据类型："""
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int64
E          category
F            object
dtype: object

In [10]:
"""5、如果你使用的是 IPython，使用 Tab 自动补全功能会自动识别所有的属性以及自定义的列，下图中是所有能够被自动识别的属性的一个子集："""
#df2.<TAB>

'5、如果你使用的是 IPython，使用 Tab 自动补全功能会自动识别所有的属性以及自定义的列，下图中是所有能够被自动识别的属性的一个子集：'

In [11]:
#二、 查看数据

In [12]:
"""1、 查看DataFrame中头部和尾部的行："""
df.head()

                   A         B         C         D
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459

In [13]:
df.tail(3)

                   A         B         C         D
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751
2019-01-30 -0.619652 -0.260988  1.033797  1.182345
2019-01-31 -0.174840 -0.079134 -0.562533  2.069970

In [14]:
"""2、 显示索引、列和底层的 numpy 数据："""
df.columns #columns ->列

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[-2.70832541, -0.135458  ,  0.70927204,  0.1734638 ],
       [-1.97028937,  0.60291702,  1.76336613, -0.70601891],
       [-1.53586585, -0.15453409, -0.20127956,  0.75413639],
       [-2.42754674,  1.53700098,  0.53886783,  0.30348044],
       [ 0.20453072, -0.61301668,  0.28856556, -1.7144591 ],
       [ 2.97001734, -0.12303919,  2.28583939,  0.50776823],
       [ 0.62593244, -0.64152332, -0.66345809, -2.07067089],
       [-0.84800927, -0.37478761, -0.77245518, -0.52675094],
       [-0.61965184, -0.26098817,  1.03379747,  1.1823449 ],
       [-0.17484048, -0.07913398, -0.56253337,  2.06996983]])

In [16]:
"""3、 describe()函数对于数据的快速统计汇总："""
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.648405  -0.024256   0.441998  -0.002674
std     1.688291   0.648035   1.039240   1.275163
min    -2.708325  -0.641523  -0.772455  -2.070671
25%    -1.861683  -0.346338  -0.472220  -0.661202
50%    -0.733831  -0.144996   0.413717   0.238472
75%     0.109688  -0.090110   0.952666   0.692544
max     2.970017   1.537001   2.285839   2.069970

In [17]:
"""4、 对数据的转置"""
print(df)
print(df.T)

                   A         B         C         D
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751
2019-01-30 -0.619652 -0.260988  1.033797  1.182345
2019-01-31 -0.174840 -0.079134 -0.562533  2.069970
   2019-01-22  2019-01-23  2019-01-24  2019-01-25  2019-01-26  2019-01-27  \
A   -2.708325   -1.970289   -1.535866   -2.427547    0.204531    2.970017
B   -0.135458    0.602917   -0.154534    1.537001   -0.613017   -0.123039
C    0.709272    1.763366   -0.201280    0.538868    0.288566    2.285839
D    0.173464   -0.706019    0.754136    0.303480   -1.714459    0.507768

   2019-01-28  2019-01-29  2019-01-30  2019-01-31
A    0.625932   -0.848009   -0.619652   -0.174840
B   -0.641523   -0.374788   -0.260988   -0.079134
C   -0.663458   -0.772455    1.033797   -0.562533
D   -2.070671   -0.526751    1.182345    2.069970

In [18]:
"""5、 按轴进行排序"""
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2019-01-22  0.173464  0.709272 -0.135458 -2.708325
2019-01-23 -0.706019  1.763366  0.602917 -1.970289
2019-01-24  0.754136 -0.201280 -0.154534 -1.535866
2019-01-25  0.303480  0.538868  1.537001 -2.427547
2019-01-26 -1.714459  0.288566 -0.613017  0.204531
2019-01-27  0.507768  2.285839 -0.123039  2.970017
2019-01-28 -2.070671 -0.663458 -0.641523  0.625932
2019-01-29 -0.526751 -0.772455 -0.374788 -0.848009
2019-01-30  1.182345  1.033797 -0.260988 -0.619652
2019-01-31  2.069970 -0.562533 -0.079134 -0.174840

In [19]:
"""6、 按值进行排序"""
df.sort_values(by = 'B')

                   A         B         C         D
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751
2019-01-30 -0.619652 -0.260988  1.033797  1.182345
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-31 -0.174840 -0.079134 -0.562533  2.069970
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-25 -2.427547  1.537001  0.538868  0.303480

In [20]:
#三、 选择
#获取

In [21]:
"""1、 选择一个单独的列，这将会返回一个Series，等同于df.A："""
df['A']

2019-01-22   -2.708325
2019-01-23   -1.970289
2019-01-24   -1.535866
2019-01-25   -2.427547
2019-01-26    0.204531
2019-01-27    2.970017
2019-01-28    0.625932
2019-01-29   -0.848009
2019-01-30   -0.619652
2019-01-31   -0.174840
Freq: D, Name: A, dtype: float64

In [22]:
"""2、 通过[]进行选择，这将会对行进行切片"""
df[0:3]

                   A         B         C         D
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136

In [23]:
df['2019-01-22':'2019-01-29']

                   A         B         C         D
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751

In [24]:
#通过标签选择

In [25]:
"""1、 使用标签来获取一个交叉的区域"""
df.loc[dates[0]]

A   -2.708325
B   -0.135458
C    0.709272
D    0.173464
Name: 2019-01-22 00:00:00, dtype: float64

In [26]:
"""2、 通过标签来在多个轴上进行选择"""
df.loc[:, ['A','B']]

                   A         B
2019-01-22 -2.708325 -0.135458
2019-01-23 -1.970289  0.602917
2019-01-24 -1.535866 -0.154534
2019-01-25 -2.427547  1.537001
2019-01-26  0.204531 -0.613017
2019-01-27  2.970017 -0.123039
2019-01-28  0.625932 -0.641523
2019-01-29 -0.848009 -0.374788
2019-01-30 -0.619652 -0.260988
2019-01-31 -0.174840 -0.079134

In [27]:
"""3、 标签切片"""
df.loc['2019-01-22':'2019-01-29', ['A', 'B']]

                   A         B
2019-01-22 -2.708325 -0.135458
2019-01-23 -1.970289  0.602917
2019-01-24 -1.535866 -0.154534
2019-01-25 -2.427547  1.537001
2019-01-26  0.204531 -0.613017
2019-01-27  2.970017 -0.123039
2019-01-28  0.625932 -0.641523
2019-01-29 -0.848009 -0.374788

In [28]:
"""4、 对于返回的对象进行维度缩减"""
df.loc['2019-01-22', ['A', 'B']]

A   -2.708325
B   -0.135458
Name: 2019-01-22 00:00:00, dtype: float64

In [29]:
"""5、 获取一个标量"""
df.loc[dates[0], ['A']]

A   -2.708325
Name: 2019-01-22 00:00:00, dtype: float64

In [30]:
"""6、 快速访问一个标量（与上一个方法等价）

"""
df.at[dates[0], 'A']

-2.7083254059663204

In [31]:
#通过位置选择

In [32]:
"""1、 通过传递数值进行位置选择（选择的是行）"""
df.iloc[3]

A   -2.427547
B    1.537001
C    0.538868
D    0.303480
Name: 2019-01-25 00:00:00, dtype: float64

In [33]:
"""2、 通过数值进行切片，与 numpy/python 中的情况类似"""
print(df.iloc[:6])
print(df.iloc[1:3, 2:4])

                   A         B         C         D
2019-01-22 -2.708325 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
                   C         D
2019-01-23  1.763366 -0.706019
2019-01-24 -0.201280  0.754136

In [34]:
"""3、 通过指定一个位置的列表，与 numpy/python 中的情况类似"""
df.iloc[[1, 3 ,6], [0, 2]]

                   A         C
2019-01-23 -1.970289  1.763366
2019-01-25 -2.427547  0.538868
2019-01-28  0.625932 -0.663458

In [35]:
"""4、 对行进行切片"""
print(df.iloc[1:4, :])
print(df.iloc[1:4])

                   A         B         C         D
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
                   A         B         C         D
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480

In [36]:
"""5、 对列进行切片"""
df.iloc[:, 1:3]

                   B         C
2019-01-22 -0.135458  0.709272
2019-01-23  0.602917  1.763366
2019-01-24 -0.154534 -0.201280
2019-01-25  1.537001  0.538868
2019-01-26 -0.613017  0.288566
2019-01-27 -0.123039  2.285839
2019-01-28 -0.641523 -0.663458
2019-01-29 -0.374788 -0.772455
2019-01-30 -0.260988  1.033797
2019-01-31 -0.079134 -0.562533

In [37]:
"""6、 获取特定的值"""
df.iloc[2 ,2]

-0.20127956238063094

In [38]:
#快速访问标量（等同于前一个方法）：
df.iat[2, 2]

-0.20127956238063094

In [39]:
#布尔索引

In [40]:
"""1、 使用一个单独列的值来选择数据："""
df[df.A > 0]

                   A         B         C         D
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671

In [41]:
"""2、 使用where操作来选择数据："""
df[df>0]

                   A         B         C         D
2019-01-22       NaN       NaN  0.709272  0.173464
2019-01-23       NaN  0.602917  1.763366       NaN
2019-01-24       NaN       NaN       NaN  0.754136
2019-01-25       NaN  1.537001  0.538868  0.303480
2019-01-26  0.204531       NaN  0.288566       NaN
2019-01-27  2.970017       NaN  2.285839  0.507768
2019-01-28  0.625932       NaN       NaN       NaN
2019-01-29       NaN       NaN       NaN       NaN
2019-01-30       NaN       NaN  1.033797  1.182345
2019-01-31       NaN       NaN       NaN  2.069970

In [42]:
"""3、 使用isin()方法来过滤："""
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
print(df2)
df2[df2['E'].isin(['two','four'])]

ValueError: Length of values does not match length of index

In [ ]:
#设置

In [ ]:
"""1、 设置一个新的列："""
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range('20190123', periods = 6))
print(s1)
df['F'] = s1
print(df)

In [43]:
"""2、 通过标签设置新的值：
"""
df.at[dates[0], 'A'] = 0
print(df)

                   A         B         C         D
2019-01-22  0.000000 -0.135458  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751
2019-01-30 -0.619652 -0.260988  1.033797  1.182345
2019-01-31 -0.174840 -0.079134 -0.562533  2.069970

In [44]:
"""3、 通过位置设置新的值：
"""
df.iat[0, 1] = 0
df

                   A         B         C         D
2019-01-22  0.000000  0.000000  0.709272  0.173464
2019-01-23 -1.970289  0.602917  1.763366 -0.706019
2019-01-24 -1.535866 -0.154534 -0.201280  0.754136
2019-01-25 -2.427547  1.537001  0.538868  0.303480
2019-01-26  0.204531 -0.613017  0.288566 -1.714459
2019-01-27  2.970017 -0.123039  2.285839  0.507768
2019-01-28  0.625932 -0.641523 -0.663458 -2.070671
2019-01-29 -0.848009 -0.374788 -0.772455 -0.526751
2019-01-30 -0.619652 -0.260988  1.033797  1.182345
2019-01-31 -0.174840 -0.079134 -0.562533  2.069970

In [45]:
"""4、 通过一个numpy数组设置一组新值："""
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D
2019-01-22  0.000000  0.000000  0.709272  5
2019-01-23 -1.970289  0.602917  1.763366  5
2019-01-24 -1.535866 -0.154534 -0.201280  5
2019-01-25 -2.427547  1.537001  0.538868  5
2019-01-26  0.204531 -0.613017  0.288566  5
2019-01-27  2.970017 -0.123039  2.285839  5
2019-01-28  0.625932 -0.641523 -0.663458  5
2019-01-29 -0.848009 -0.374788 -0.772455  5
2019-01-30 -0.619652 -0.260988  1.033797  5
2019-01-31 -0.174840 -0.079134 -0.562533  5

In [46]:
"""5、 通过where操作来设置新的值："""
df2 = df.copy()
df2[df2>0] = -df2
df2

                   A         B         C  D
2019-01-22  0.000000  0.000000 -0.709272 -5
2019-01-23 -1.970289 -0.602917 -1.763366 -5
2019-01-24 -1.535866 -0.154534 -0.201280 -5
2019-01-25 -2.427547 -1.537001 -0.538868 -5
2019-01-26 -0.204531 -0.613017 -0.288566 -5
2019-01-27 -2.970017 -0.123039 -2.285839 -5
2019-01-28 -0.625932 -0.641523 -0.663458 -5
2019-01-29 -0.848009 -0.374788 -0.772455 -5
2019-01-30 -0.619652 -0.260988 -1.033797 -5
2019-01-31 -0.174840 -0.079134 -0.562533 -5

In [47]:
import pandas as pd

SyntaxError: invalid syntax (<ipython-input-48-3e7e8b41e94a>, line 1)